@media screen and (max-width: 768px) {
    .block-search .minisearch input#search {
        position: static;
        border-radius: 6px;
    }

    .block-search .minisearch .label {
        display: none;
    }

    .block-search .control {
        border-top: 0px;
    }

    .block-search input {
        margin: 0 0 15px 0;
    }
}