#social-login-popup .fieldset.create {
    margin: 0 0 20px;
}

#social-login-popup {
    .fieldset .legend {
        margin: unset;
    }

    .field.company {
        margin-bottom: 20px;
    }

    #show-tax-address {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#social-login-popup .fieldset .checkbox {
    margin-bottom: auto;
    margin-top: 4px;
    top: unset;
}

.modal-slide.modal-popup #bid-modal .price-info {
    font-size: @font-size__xl;
    // margin-top: @margin-top__base;
    color: @secondary__color;
    font-weight: @font-weight__extrabold;
    margin-bottom: @margin-vertical__base;
}

.modal-popup.modal-slide._inner-scroll._show {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 20px;
    left: 10px;
    right: 10px;
    bottom: auto;
    border-radius: 10px;
    text-align: center;
}

fieldset.agreement .label a {
    display: inline;
    /* Keeps the link in-line with text */
}


// .modal-slide.modal-popup {}

.modal-slide.modal-popup .modal-header .modal-title {
    font-size: 16px;
    font-weight: 600;
    color: grey;
}

.modal-slide.modal-popup h1 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 3px;
}

.modal-slide.modal-popup #bid-form .offer-square {
    font-weight: 600;
}

.modal-slide.modal-popup .price-info {
    font-size: @font-size__xxxl;
}

.modal-slide.modal-popup #bid-form .auction-end {
    margin-bottom: 15px;
}

.auction-end {
    font-size: @font-size__xs;
}

.modal-slide.modal-popup #bidding_amount {
    border-radius: 15px;
    border-width: 1.5px;
    border-color: @secondary__color;
}

.modal-slide.modal-popup .input-text {
    text-align: center;
}

.modal-slide.modal-popup .mpbidding_amount {
    margin-bottom: 15px;
}

.modal-image-container {
    margin-bottom: 10px;
}

.reserve-price {
    font-size: @font-size__s;
    margin-bottom: 7px;
}

.modal-slide.modal-popup h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
}